<div class="modal fade fixed-right" id="modalPricing" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <form class="modal-content" id="demoForm">
      <div class="modal-body">

        <!-- Close -->
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>

        <div class="text-center">
          <img src="@@webRoot/assets/img/AIRCRFT Sidebar Logo.png" alt="AIRCRFT" class="img-fluid mb-3">
        </div>

        <!-- h2 class="text-center mb-2">
          Startup-In-A-Box (SIAB)
        </h2> 
        
        <h2 class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </h2> 

        <p class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </p> -->
        
         <p class="text-center mb-4">
          HUB | PLATFORM | MARKETPLACE
        </p>
        
        <!-- <p class="small text-center-muted mb-3">
          OPEN SOURCE STARTUP BUILDER
        </p> -->

        <!-- <hr class="mb-4">

        <h4 class="mb-1">
          Color Control Panel
        </h4> 

        <p class="small text-muted mb-3">
          Welcome to the future of deep work!
        </p> -->

        <div class="card">
          <div class="card-body">

            <!-- Title -->
            <h6 class="text-uppercase text-center text-muted my-4">
               STARTUP BUILDER KIT
            </h6>

            <!-- Price -->
            <div class="row no-gutters align-items-center justify-content-center">
              <div class="col-auto">
                <div class="h2 mb-0">$</div>
              </div>
              <div class="col-auto">
                <div class="display-2 mb-0">99</div>
              </div>
            </div> <!-- / .row -->

            <!-- Period -->
            <div class="h6 text-uppercase text-center text-muted mb-5">
              / yr
            </div>

            <!-- Features -->
            <div class="mb-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Website - Startup-grade JAMstack site powered by AIRCRFT</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Powerful modern professional publishing platform</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>App & API's - Curated Collection</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Components - add Al La Cart - deploy with a couple of taps</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Team Chat App</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Cloud Formation - AIRCRFT Powered</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Marketplace & Directory</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>DreamTeams - spin up on-demand</small> <i
                    class="fe fe-check-circle text-success"></i>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Embeddable founder / startup activity feeds</small> <i class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Participate in weekly Founder Group circles</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Uplift Algorithm - Pay if forward to other startups</small> <i class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Fail Forward Weekly Update - learn exponentially</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Groups - bring your network together</small> <i
                    class="fe fe-check-circle text-success"></i>
                </li>
                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                  <small>Manuals, articles, and blog posts</small> <i class="fe fe-check-circle text-success"></i>
                </li>
              </ul>
            </div>
            <div class="modal-footer border-0">
          
            <!-- ALL ACCESS MEMBERSHIPS Button STRIPE / SUBSCIPTION GOES HERE! -->
            <a href="https://rocket.aircrftengine.com/home" class="btn btn-block btn-primary">
              BUY STARTUP KIT
            </a>
            
            </div>

          </div>
        </div>

      </div>
    </form>
  </div>
</div>