@@if (demoMode) {
<!-- Modal: Demo -->
@@include("modal-demo.html")
}

<!-- Modal: Members -->
@@include("modal-members.html")

<!-- Modal: Search -->
@@include("modal-search.html")

<!-- Modal: Activity -->
@@include("modal-activity.html")

<!-- Modal: Kanban task -->
@@include("modal-kanban-task.html")

<!-- Modal: Kanban task -->
@@include("modal-kanban-task-empty.html")

<!-- Modal: Founders Feed -->
@@include("modal-founders-feed.html")

<!-- Modal: Startup Spotlight -->
@@include("modal-startup-spotlight.html")

<!-- Modal: Uplift Algorithm -->
@@include("modal-uplift-algorithm.html")

<!-- Modal: Uplift Pricing D188 -->
@@include("modalPricingD188.html")

